<!-- Base template to use with each page -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block title %}
    {% endblock %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'notifications/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'notifications/functions.js' %}"></script>
</head>
<body>
    {% include 'account/header.html' %}

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>