{% extends 'notifications/base.html' %}

{% block title %}
  <title>Details</title>
{% endblock %}

{% block content %}
  {% if details %}
    <div id="websiteData">
      <h3>Details</h3>
        {% for item in details %}
          <h4>{{item.website}}</h4>
          <ul>
            {% for detail in item.details.all %}
              <li>
                <a id="itemUrl" href="{{detail.url}}">{{detail.name}}</a>
                {% if detail.new %}
                  <p>NEW</p>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          {{item.time}}
        {% endfor %}
    </div>
    
  {% else %}
    <h2>That page does not exist</h2>
  {% endif %}
  
{% endblock %}