{% extends 'notifications/base.html' %}

{% block title %}
  <title>New</title>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if not user.at_limit %}
      <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        
        <input type="submit" value="Submit">
      </form>
    {% else %}
      <h2>You are at your limit. Please remove some notifications before adding new ones.</h2>
    {% endif %}
    
  {% else %}
    <h2>Please log in before adding a notification!</h2>
  {% endif %}
{% endblock %}